@page "/"
@using RecipeBook.Services
@inject IRecipeService _recipeService;

<PageTitle>Best Recipes</PageTitle>

<h1>Top Recipes</h1>


@code {

    protected override void OnInitialized()
    {
        Console.WriteLine("Home page initialized");
    }

}
