@page "/Recipe/{RecipeId:Guid?}"
@using RecipeBook.Models;
@using RecipeBook.Services
@using RecipeBook.Components.RecipeComponents
@inject IRecipeService RecipeService;


<h3>Recipe</h3>


@if (CurrentRecipe != null)
{
    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Recipe Image"/>
    <DescriptionBoxComponent Title="Description" Items="@(new[] { @CurrentRecipe?.RecipeDescription })"/>
    <DescriptionBoxComponent Title="Number of Ingredients" Items="@(new[] { CurrentRecipe.NumberOfIngredients })"/>
    <InstructionsComponent RecipeInstructions="@CurrentRecipe.RecipeInstructions"/>
}
else
{
    <p>Recipe not found</p>
}


@code {

    private RecipeModel? CurrentRecipe { get; set; }

    [Parameter] public string? RecipeId { get; set; }

    protected override void OnInitialized()
    {
        Guid RecipeIdGuid = Guid.Parse(RecipeId);
        CurrentRecipe = RecipeService.GetRecipe(RecipeIdGuid);
    }

}
